img {
    height: 8rem;
}

h1 {
    color: gray;
}

html {
    background-color: rgb(49, 80, 146);
}

h2 {
    color: gray;
}

p {
    text-align: center;
    color: honeydew;
}

button {
    margin-left: 28rem;
    padding: 1rem;
    border-radius: 50%;
    border: solid darkblue;
    color: honeydew;
    background-color: blue;
}

.line-items {
    color: honeydew;
    text-shadow: .02rem .04rem darkblue;
}